.text{
    text-align: center;
    margin-top: 34px;
    color: hotpink;
    border: 10px solid black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}