@import url('https://googleapis.com');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* Deep Galactic Background */
    background: radial-gradient(circle at top right, #1e293b, #0f172a, #020617);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* Glassmorphism Effect with a touch of purple */
    background: rgba(30, 41, 59, 0.7);
    backdrop-filter: blur(10px);
    padding: 40px 30px;
    border-radius: 20px;
    width: 350px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 26px;
    margin-bottom: 30px;
    font-weight: 600;
    /* Neon Glow text */
    text-shadow: 0 0 10px rgba(56, 189, 248, 0.3);
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

label {
    color: #cbd5e1;
    font-size: 13px;
    margin-left: 5px;
    margin-bottom: 8px;
    display: block;
}

input {
    width: 100%;
    padding: 14px;
    background: rgba(15, 23, 42, 0.6);
    border: 1px solid #334155;
    border-radius: 12px;
    color: #38bdf8;
    /* Typing color neon blue */
    font-size: 14px;
    outline: none;
    transition: 0.3s ease;
}

input::placeholder {
    color: #64748b;
}

input:focus {
    border-color: #38bdf8;
    background: rgba(15, 23, 42, 0.9);
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.2);
}

button {
    width: 100%;
    padding: 14px;
    /* Stylish Gradient Button */
    background: linear-gradient(135deg, #38bdf8 0%, #818cf8 100%);
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    transition: 0.4s;
    box-shadow: 0 10px 15px -3px rgba(56, 189, 248, 0.4);
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 20px 25px -5px rgba(56, 189, 248, 0.5);
    filter: brightness(1.1);
}

a {
    display: inline-block;
    margin-top: 20px;
    color: white;
    font-size: 13px;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
    font-size: medium;
}

a:hover {
    color: #38bdf8;
}

p {
    color: #818cf8;
}